# build artifacts
/build/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile
/CTestTestfile.cmake

# editor/temp
*.swp
*.swo
*~
.DS_Store

# temporary excludes
/tools/cm-bridge/

# generated documentation
/docs/_build/
